<!--kg-card-begin: html-->
<div>
  <div>{{ message.html | safe }}</div>
  <div>
    <figure class="kg-card kg-gallery-card kg-width-wide">
      <div class="kg-gallery-container">
        {% for row in attachments %}
          <div class="kg-gallery-row">
            {% for attachment in row %}
              {% if attachment.meta.thumb %}
                <div class="kg-gallery-attachment kg-gallery-video" style="flex: {{ attachment.meta.thumb.ratio }} 1 0%;">
                  <img
                      src="{{ attachment.meta.thumb.url }}"
                      loading="lazy"
                      alt=""
                      width="{{ attachment.meta.thumb.width }}"
                      height="{{ attachment.meta.thumn.height }}">
                </div>
              {% else %}
                <div class="kg-gallery-attachment" style="flex: {{ attachment.meta.ratio }} 1 0%;">
                  <img
                      src="{{ attachment.url }}"
                      loading="lazy"
                      alt=""
                      width="{{ attachment.meta.width }}"
                      height="{{ attachment.meta.height }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </figure>
  </div>
</div>
<!--kg-card-end: html-->
