{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Конструктор тестов</title>

	<link rel='icon' type='image/png' href='{% static "test_constructor/favicon.png" %}'>
	<link rel='stylesheet' href='{% static "test_constructor/global.css" %}?v=2'>
	<link rel='stylesheet' href='{% static "test_constructor/bundle.css" %}?v=2'>

	<script defer src='{% static "test_constructor/bundle.js" %}?v=2'></script>
</head>

<body>
</body>
</html>
