{% for card in thread.cards %}
  <!--kg-card-begin: html-->
  <div class="thread-blob" id="card-{{ forloop.counter }}">
    {% if card.title %}
      <b>
        <span class="thread-blob__date">
          {{ card.title }}
        </span>
      </b>
    {% endif %}
    {% for block in card.data.blocks %}
      {% if block.type == 'paragraph' %}
        <p>{{ block.data.text | safe }}</p>
      {% endif %}

      {% if block.type == 'list' %}
        {% if block.data.style == 'ordered' %}
          <ol>
            {% for item in block.data.items %}
              <li>{{ item  | safe }}</li>
            {% endfor %}
          </ol>
        {% else %}
          <ul>
            {% for item in block.data.items %}
              <li>{{ item | escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

      {% if block.type == 'image' %}
        <figure class="kg-card kg-image-card kg-card-hascaption">
          <img src="{{ block.data.file.url }}" class="kg-image" alt="{{ block.data.file.caption }}" loading="lazy">
          <figcaption>{{ block.data.caption }}</figcaption>
        </figure>
      {% endif %}
      {% if block.type == 'embed' %}
        {% if block.data.service == 'youtube' %}
          <iframe width="100%" height="315" src="{{ block.data.embed }}" title="YouTube video player"
                  frameborder="0"
                  allowfullscreen></iframe>
        {% endif %}
        {% if block.data.service == 'bitchute' %}
          <iframe width="100%" height="315" src="{{ block.data.embed }}" title="Bitchute video player"
                  frameborder="0"
                  allowfullscreen></iframe>
        {% endif %}
        <figcaption>{{ block.data.caption }}</figcaption>
      {% endif %}
      {% if block.type == 'attaches' %}
        {# Attaches is interpreted as a video #}
          <figure style="margin: 0" class="kg-card kg-video-card kg-card-hascaption">
              <div class="kg-video-container">
                  <video src="{{ block.data.file.url }}"
                         poster="" playsinline="" preload="metadata"
                         width="1280" height="530"></video>
                  <div class="kg-video-overlay">
                      <button class="kg-video-large-play-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                              <path d="M23.14 10.608 2.253.164A1.559 1.559 0 0 0 0 1.557v20.887a1.558 1.558 0 0 0 2.253 1.392L23.14 13.393a1.557 1.557 0 0 0 0-2.785Z"></path>
                          </svg>
                      </button>
                  </div>
                  <div class="kg-video-player-container">
                      <div class="kg-video-player" style="--buffered-width: 100%;">
                          <button class="kg-video-play-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                  <path d="M23.14 10.608 2.253.164A1.559 1.559 0 0 0 0 1.557v20.887a1.558 1.558 0 0 0 2.253 1.392L23.14 13.393a1.557 1.557 0 0 0 0-2.785Z"></path>
                              </svg>
                          </button>
                          <button class="kg-video-pause-icon kg-video-hide">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                  <rect x="3" y="1" width="7" height="22" rx="1.5" ry="1.5"></rect>
                                  <rect x="14" y="1" width="7" height="22" rx="1.5" ry="1.5"></rect>
                              </svg>
                          </button>
                          <span class="kg-video-current-time">0:00</span>
                          <div class="kg-video-time">/<span class="kg-video-duration"></span></div>
                          <input type="range" class="kg-video-seek-slider" max="2" value="0">
                          <button class="kg-video-playback-rate">1×</button>
                          <button class="kg-video-unmute-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                  <path d="M15.189 2.021a9.728 9.728 0 0 0-7.924 4.85.249.249 0 0 1-.221.133H5.25a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1.794a.249.249 0 0 1 .221.133 9.73 9.73 0 0 0 7.924 4.85h.06a1 1 0 0 0 1-1V3.02a1 1 0 0 0-1.06-.998Z"></path>
                              </svg>
                          </button>
                          <button class="kg-video-mute-icon kg-video-hide">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                  <path d="M16.177 4.3a.248.248 0 0 0 .073-.176v-1.1a1 1 0 0 0-1.061-1 9.728 9.728 0 0 0-7.924 4.85.249.249 0 0 1-.221.133H5.25a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h.114a.251.251 0 0 0 .177-.073ZM23.707 1.706A1 1 0 0 0 22.293.292l-22 22a1 1 0 0 0 0 1.414l.009.009a1 1 0 0 0 1.405-.009l6.63-6.631A.251.251 0 0 1 8.515 17a.245.245 0 0 1 .177.075 10.081 10.081 0 0 0 6.5 2.92 1 1 0 0 0 1.061-1V9.266a.247.247 0 0 1 .073-.176Z"></path>
                              </svg>
                          </button>
                          <input type="range" class="kg-video-volume-slider" max="100" value="100"></div>
                  </div>
              </div>
              <figcaption>{{ block.data.title }}</figcaption>
          </figure>
      {% endif %}
    {% endfor %}
    <div class="thread-blob__share" data-index="{{ forloop.counter }}">
      <div class="thread-blob__share-icon">
        <svg width="20" height="25" viewBox="0 -5 20 25" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#link"></use>
        </svg>
      </div>
      <div class="thread-blob__share-text">
        Поделиться
      </div>
      <div class="thread-blob__share-text-copied">
        Скопировано
      </div>
    </div>
  </div>
  <!--kg-card-end: html-->
{% endfor %}
