<!--kg-card-begin: html-->
{% for card in thread.cards %}
  <div class="thread-blob" id="card-{{ forloop.counter }}">
    {% if card.title %}
      <b>
        <span class="thread-blob__date">
          {{ card.title }}
        </span>
      </b>
    {% endif %}
    {% for block in card.data.blocks %}
      {% if block.type == 'paragraph' %}
        <p>{{ block.data.text | safe }}</p>
      {% endif %}

      {% if block.type == 'list' %}
        {% if block.data.style == 'ordered' %}
          <ol>
            {% for item in block.data.items %}
              <li>{{ item  | safe }}</li>
            {% endfor %}
          </ol>
        {% else %}
          <ul>
            {% for item in block.data.items %}
              <li>{{ item | escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

      {% if block.type == 'image' %}
        <figure class="kg-card kg-image-card kg-card-hascaption">
          <img src="{{ block.data.file.url }}" class="kg-image" alt="{{ block.data.file.caption }}" loading="lazy">
          <figcaption>{{ block.data.caption }}</figcaption>
        </figure>
      {% endif %}
      {% if block.type == 'embed' and block.data.service == 'youtube' %}
        <iframe width="100%" height="315" src="{{ block.data.embed }}" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <figcaption>{{ block.data.caption }}</figcaption>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
<!--kg-card-end: html-->