{% for card in thread.cards %}
  <!--kg-card-begin: html-->
  <div class="thread-blob" id="card-{{ forloop.counter }}">
    {% if card.title %}
      <b>
        <span class="thread-blob__date">
          {{ card.title }}
        </span>
      </b>
    {% endif %}
    {% for block in card.data.blocks %}
      {% if block.type == 'paragraph' %}
        <p>{{ block.data.text | safe }}</p>
      {% endif %}

      {% if block.type == 'list' %}
        {% if block.data.style == 'ordered' %}
          <ol>
            {% for item in block.data.items %}
              <li>{{ item  | safe }}</li>
            {% endfor %}
          </ol>
        {% else %}
          <ul>
            {% for item in block.data.items %}
              <li>{{ item | escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

      {% if block.type == 'image' %}
        <figure class="kg-card kg-image-card kg-card-hascaption">
          <img src="{{ block.data.file.url }}" class="kg-image" alt="{{ block.data.file.caption }}" loading="lazy">
          <figcaption>{{ block.data.caption }}</figcaption>
        </figure>
      {% endif %}
      {% if block.type == 'embed' %}
        {% if block.data.service == 'youtube' %}
          <iframe width="100%" height="315" src="{{ block.data.embed }}" title="YouTube video player"
                  frameborder="0"
                  allowfullscreen></iframe>
        {% endif %}
        {% if block.data.service == 'bitchute' %}
          <iframe width="100%" height="315" src="{{ block.data.embed }}" title="Bitchute video player"
                  frameborder="0"
                  allowfullscreen></iframe>
        {% endif %}
        <figcaption>{{ block.data.caption }}</figcaption>
      {% endif %}
    {% endfor %}
    <div class="thread-blob__share" data-index="{{ forloop.counter }}">
      <div class="thread-blob__share-icon">
        <svg width="20" height="25" viewBox="0 -5 20 25" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#link"></use>
        </svg>
      </div>
      <div class="thread-blob__share-text">
        Поделиться
      </div>
      <div class="thread-blob__share-text-copied">
        Скопировано
      </div>
    </div>
  </div>
  <!--kg-card-end: html-->
{% endfor %}
