<!--kg-card-begin: html-->
<div class="sb-currency__item" data-datetime="{{ now }}">
  <span class="sb-currency__token">$</span>
  <span class="sb-currency__value">{{ usd.value }}</span>
  {% if usd.down %}
    <span class="sb-currency__arrow sb-currency__arrow--down">▼</span>
  {% else %}
    <span class="sb-currency__arrow sb-currency__arrow--up">▲</span>
  {% endif %}
</div>
<!--kg-card-end: html-->
<!--kg-card-begin: html-->
<div class="sb-currency__item">
  <span class="sb-currency__token">€</span>
  <span class="sb-currency__value">{{ eur.value }}</span>
  {% if eur.down %}
    <span class="sb-currency__arrow sb-currency__arrow--down">▼</span>
  {% else %}
    <span class="sb-currency__arrow sb-currency__arrow--up">▲</span>
  {% endif %}
</div>
<!--kg-card-end: html-->
<!--kg-card-begin: html-->
<div class="sb-currency__item">
  <span class="sb-currency__token sb-currency__token--btc">₿</span>
  <span class="sb-currency__value">{{ btc.value }}</span>
  {% if btc.down %}
    <span class="sb-currency__arrow sb-currency__arrow--down">▼</span>
  {% else %}
    <span class="sb-currency__arrow sb-currency__arrow--up">▲</span>
  {% endif %}
</div>
<!--kg-card-end: html-->