<!--kg-card-begin: html-->
<div class="sb-currency__item">
  <span class="sb-currency__token">$</span>
  <span class="sb-currency__value">{{ usd.value }}</span>
  {% if usd.down %}
    <span class="sb-currency__arrow sb-currency__arrow--down">▼</span>
  {% else %}
    <span class="sb-currency__arrow sb-currency__arrow--up">▲</span>
  {% endif %}
</div>
<div class="sb-currency__item">
  <span class="sb-currency__token">€</span>
  <span class="sb-currency__value">{{ eur.value }}</span>
  {% if eur.down %}
    <span class="sb-currency__arrow sb-currency__arrow--down">▼</span>
  {% else %}
    <span class="sb-currency__arrow sb-currency__arrow--up">▲</span>
  {% endif %}
</div>
<div class="sb-currency__item">
        <span class="sb-currency__token sb-currency__token--icon">
        <svg style="padding-top: 1px;" width="9" height="16" viewBox="0 0 9 16" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#btc-color"></use>
        </svg>
        </span>
  <span class="sb-currency__value">{{ btc.value }}</span>
  {% if btc.down %}
    <span class="sb-currency__arrow sb-currency__arrow--down">▼</span>
  {% else %}
    <span class="sb-currency__arrow sb-currency__arrow--up">▲</span>
  {% endif %}
</div>
<!--kg-card-end: html-->