{% load humanize %}

<!--kg-card-begin: html-->
<div class="page-gas__title">
  Столько денег Евросоюз перечислил<br>Путину с начала войны на Украине<br> за ворованные в России ископаемые:
</div>
<div class="page-gas__total">
  <div class="page-gas__total-sum">€&nbsp;<span class="eur-total">{{ total | intcomma }}</span></div>
</div>
<div class="page-gas__items">
  <div class="page-gas__item">
    <div class="page-gas__item-name">Нефть</div>
    <div class="page-gas__item-sum">€&nbsp;<span class="eur-oil">{{ oil }}</span>&nbsp;млрд</div>
  </div>
  <div class="page-gas__item">
    <div class="page-gas__item-name">Газ</div>
    <div class="page-gas__item-sum">€&nbsp;<span class="eur-gas">{{ gas }}</span>&nbsp;млрд</div>
  </div>
  <div class="page-gas__item">
    <div class="page-gas__item-name">Уголь</div>
    <div class="page-gas__item-sum">€&nbsp;<span class="eur-coal">{{ coal }}</span>&nbsp;млрд</div>
  </div>
</div>
<!--kg-card-end: html-->
