{% load humanize %}

<!--kg-card-begin: html-->
<div class="page-gas__title">
  По состоянию на <span class="eur-date">{{ date }}</span>
</div>
<div class="page-gas__subtitle">
  Столько миллиардов евро Евросоюз перечислил Путину за ворованные у русских ископаемые виды топлива с 24.02.22
</div>
<div class="page-gas__total">
  <div class="page-gas__total-eur">eur</div>
  <div class="page-gas__total-sum eur-total">{{ total | intcomma }}</div>
</div>
<div class="page-gas__items">
  <div class="page-gas__item">
    <div class="page-gas__item-name">Нефть</div>
    <div class="page-gas__item-sum">EUR <span class="eur-oil">{{ oil }}</span>M</div>
  </div>
  <div class="page-gas__item">
    <div class="page-gas__item-name">Газ</div>
    <div class="page-gas__item-sum">EUR <span class="eur-gas">{{ gas }}</span>M</div>
  </div>
  <div class="page-gas__item">
    <div class="page-gas__item-name">Уголь</div>
    <div class="page-gas__item-sum">EUR <span class="eur-coal">{{ coal }}</span>M</div>
  </div>
</div>
<!--kg-card-end: html-->
